extends home
block head
  link(rel='stylesheet', type='text/css', href='/stylesheets/account.css')
  script(src='javascripts/account.js')
 block container
  #header
      a(href='/home')
        img#logo(src='../resources/logosmall.png')
      #menu
        img#menuimage(src='../resources/menulight.png')
        navtext MENU
      #profile
          navtext#nav_profile PROFILE
          img#loginimage(src='../resources/loginlight.png')
          ul#dropdown
            li#d1
              a(href='/home') HOME
            li#d2
              a(href='#') LOGOUT
    #sidr-left
        ul
          li.active
            a(href='/account') ACCOUNT
          li
            a(href='/employees') EMPLOYEES
          

  #container
    #content
      #left
        form#signup-form
          h2 Change Name
          input#signup-name(type='text' placeholder='CHANGE NAME' name='name' value='')
          h2 Chane Email
          input#signup-email(type='text' placeholder='CHANGE EMAIL' name='email' value='')
          h2 Change Phone
          input#signup-phone(type='text' placeholder='CHANGE PHONE' name='phone' value='')
        h1#error
        h1#correct 
      #right
        form#signup-form1
          h2 Change Company Name
          input#signup-name(type='text' placeholder='CHANGE NAME' name='comapny_name' value='')
          h2 Change Company Phone
          input#signup-phone(type='text' placeholder='CHANGE PHONE' name='company_phone' value='')
      input#change-button.button(type='button', value='SAVE')
      .add_employee#change-password Change Password