extends home
block head
  link(rel='stylesheet', type='text/css', href='/stylesheets/employees.css')
  script(src='javascripts/employees.js')
block container
  #header
      #menu
        img#menuimage(src='../resources/menulight.png')
        navtext MENU
      #profile
        ul.navigation
          a.main(href='#url')
          navtext#nav_profile PROFILE
          img#loginimage(src='../resources/loginlight.png')
          li.n1
            a(href='/home') HOME
          li.n2
            a(href='#') LOGOUT
    #sidr-left
        ul
          li
            a(href='/account') ACCOUNT
          li.active
            a(href='/employees') EMPLOYEES
         
  #container
    #content
      .row
        .box
          .name
            h2 NAME
          .email
            h2 EMAIL
          .role
            h2 STATUS
        #1.box
          #1.name
            h2 Nick Ardecky
          #1.email
            h2 nardecky@ucsd.edu
          #1.role
            h2 Employee
          #1.edit
          #1.submit
          #1.cancel
        #2.box
          #2.name
            h2 Nick Ardecky
          #2.email
            h2 nardecky@ucsd.edu
          #2.role
            h2 Employee
          #2.edit
          #2.submit
          #2.cancel
        #3.box
          #3.name
            h2 Nick Ardecky
          #3.email
            h2 nardecky@ucsd.edu
          #3.role
            h2 Employee
          #3.edit
          #3.submit
          #3.cancel
        #4.box
          #4.name
            h2 Nick Ardecky
          #4.email
            h2 nardecky@ucsd.edu
          #4.role
            h2 Employee
          #4.edit
          #4.submit
          #4.cancel
        #5.box
          #5.name
            h2 Nick Ardecky
          #5.email
            h2 nardecky@ucsd.edu
          #5.role
            h2 Employee
          #5.edit
          #5.submit
          #5.cancel
        #6.box
          #6.name
            h2 Nick Ardecky
          #6.email
            h2 nardecky@ucsd.edu
          #6.role
            h2 Employee
          #6.edit
          #6.submit
          #6.cancel


