extends account
block head
  link(rel='stylesheet', type='text/css', href='/stylesheets/employees.css')
  script(src='javascripts/employees.js')
block container
  #header
      a(href='/home')
        img#logo(src='../resources/logosmall.png')
      #menu
        img#menuimage(src='../resources/menulight.png')
        navtext MENU
      #profile
          navtext#nav_profile PROFILE
          img#loginimage(src='../resources/loginlight.png')
          ul#dropdown
            li#d1
              a(href='/home') HOME
            li#d2
              a(href='#') LOGOUT
    #sidr-left
        ul
          li
            a(href='/account') ACCOUNT
          li.active
            a(href='/employees') EMPLOYEES
         
  #container
    #content
      
      .row
        h2#employees Employee Information
        .box
          #box1
            .name
              h2 NAME
            .email
              h2 EMAIL
            .role
              h2 STATUS
      form#input1
          .submit Update
          h2 Add Employee
          input#employee-name(type='text', placeholder='NAME', name='name', value='')
          input#employee-email(type='text', name='email', value='', placeholder='EMAIL')
          .add_employee#add-employee-button Add
           


