extends layout
block head
  meta(http-equiv='Content-type', content='text/html; charset=utf-8')
  script(src='javascripts/client_calendar.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/scheduler/dhtmlxscheduler.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/scheduler/dhtmlxscheduler_timeline.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/home.js', type='text/javascript', charset='utf-8')
  link(rel='stylesheet', type='text/css', href='/stylesheets/dhtmlxscheduler.css')
block container
  body(onload='init();')
    #scheduler_here.dhx_cal_container(style='width: 100%; height: 100%;')
      .dhx_cal_navline
        .dhx_cal_prev_button  
        .dhx_cal_next_button  
        .dhx_cal_today_button
        .dhx_cal_date
        .dhx_cal_tab(name='day_tab', style='right: 204px;')
        .dhx_cal_tab(name='week_tab', style='right: 140px;')
        .dhx_cal_tab(name='timeline_tab', style='right: 280px;')
        .dhx_cal_tab(name='month_tab', style='right: 76px;')
      .dhx_cal_header
      .dhx_cal_data
  