extends layout
block head
  meta(http-equiv='Content-type', content='text/html; charset=utf-8')
  script(src='javascripts/client_calendar.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/scheduler/dhtmlxscheduler.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/scheduler/dhtmlxscheduler_limit.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/scheduler/dhtmlxscheduler_timeline.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/home.js', type='text/javascript', charset='utf-8')
  link(rel='stylesheet', type='text/css', href='/stylesheets/dhtmlxscheduler.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/home.css')
  script.
      $(document).ready(function() {
        $('#menu').sidr({
        name: 'sidr-left',
        side: 'left',
        body: '#container',
        displace: true,
        resize: true,
        speed: 100
        });
        $('#profile').sidr({
        name: 'sidr-right',
        side: 'right',
        body: '#profile',
        displace: true,
        speed: 200     
        });
        $(window).resize(function () {
          $.sidr('close', 'sidr-left');
          $.sidr('close', 'sidr-right');
        });
        /* Make signup login appear once header has been clicked. 
         * Will also scroll to top of page if button at the bottom
         * is clicked */
        $(".signup").click(function() {
          console.log("date date " + JSON.stringify(calendars[0].days[0].shifts[3]))
          
          socket.emit('update-calendar', calendars, function(error)
          {
            if(error) {
              //TODO: There was error while updating calendar. Let the user know
              console.log('there was an error while updating the calendars')
            } else {
              //TODO: The update was done successfully. Let the user know
              console.log('the calendars was updated successfully')
            }
          }) // end of calendar-update 
        });
      });
block container
  #header
      #menu
        img#menuimage(src='../resources/menulight.png')
        navtext MENU
      #profile
        navtext PROFILE
        img#loginimage(src='../resources/loginlight.png')
      a(href='/')
        img#logo(src='../resources/logosmall.png')
    #sidr-left
        ul
          li.active
            a(href='/') HOME
          li
            a(href='#') FEATURES
          li
            a(href='#') ABOUT
          li
            a.signup PUBLISH
    #container
      body(onload='init();')
        #scheduler_here.dhx_cal_container(style='width: 100%; height: 100%;')
          .dhx_cal_navline
            .dhx_cal_prev_button  
            .dhx_cal_next_button  
            .dhx_cal_today_button
            .dhx_cal_date
            .dhx_cal_tab(name='day_tab', style='right: 204px;')
            .dhx_cal_tab(name='week_tab', style='right: 140px;')
            .dhx_cal_tab(name='timeline_tab', style='right: 280px;')
            .dhx_cal_tab(name='month_tab', style='right: 76px;')
          .dhx_cal_header
          .dhx_cal_data
    