extends layoutlanding
block head
  link(rel='stylesheet', href='/stylesheets/index.css')
  script.
    $(document).ready(function() {
      $("#scroll").click(function() {
        $('html, body').animate({
          scrollTop: $("#info").offset().top
        }, 500);
      });
    });
//everything in header goes here
block banner
  #tagline
    h1 Better management for the better manager.
    #subtitle
      h2 FULLY INTEGRATED EMPLOYEE SCHEDULING
        button#scroll GET STARTED
//everything under header goes here
block content
  #sidr-left
      ul
        li.active
          a(href='#') HOME
        li
          a(href='#') FEATURES
        li
          a(href='#') ABOUT
        li
          a(href='/signup') SIGN UP
  #info
    .row
      #intro.row_element
    .row
      .row_element
      .row_element
    .row
      .row_element
      .row_element
