extends layoutlanding
block head
  link(rel='stylesheet', href='/stylesheets/index.css')

  //import index javascript
  script(type='text/javascript' src='/javascripts/index.js')


//everything in header goes here
block banner
  #tagline
    h1 Better management for the better manager.
    #subtitle
      h2 FULLY INTEGRATED EMPLOYEE SCHEDULING
        button#scroll GET STARTED
//everything under header goes here
block content
  #sidr-left
      ul
        li.active
          a(href='/') HOME
        li
          a(href='#') FEATURES
        li
          a(href='#') ABOUT US
        li
          a.signup SIGN UP
          //a(href='/signup') SIGN UP
  #info
    .row
      #intro.row_element
    .row
      .row_element
      .row_element
    .row
      .row_element
    .row
      .row_element
      //
        p(style='font-size: 15px')
          b
            u
              a(id='About_Us_goto') About Us 
        p
          | Colby Earle Harrison -
          span#About_Us  Project Manager
        p
          | Nicholas Evan Ardecky -
          span#About_Us  Subject Matter Expert
        p
          | Jonathan Thien Vu Trinh -
          span#About_Us  Senior System Analyst
        p
          | Jeremy Scott Bassi -
          span#About_Us  Software Architect
        p
          | James A Lee -
          span#About_Us  Software Architect
        p
          | Christian James Carreon -
          span#About_Us  Software Development Lead
        p
          | Byoung Oh (Joe) Kang -
          span#About_Us  Algorithm Specialist
        p
          | Cole Daniel Stipe -
          span#About_Us  Database Specialist
        p
          | Yutang Lin -
          span#About_Us  Quality Assurance Lead
        p
          | Richard Ying -
          span#About_Us  User Interface Specialist
  #footer
      button.signup#signup-button SIGN UP