extends layoutlanding
block head
  link(rel='stylesheet', href='/stylesheets/index.css')
  script.
    $(document).ready(function() {
      $("#scroll").click(function() {
        $('html, body').animate({
          scrollTop: $("#info").offset().top
        }, 500);
      });
      $(".signup").click(function() {
        $.sidr('close', 'sidr-left');
        $( "#tagline" ).fadeOut( "slow", function() {
        });
        $( "#signup-form" ).fadeIn( "slow", function() {
        });
        $('html, body').animate({
          scrollTop: $("#header").offset().top
        }, 500);
      });
    });
    $(window).resize(function () {
      $.sidr('close', 'sidr-left');
      $.sidr('close', 'sidr-right');
    });
    $("#menu").swipe({
      swipeLeft:function(event, direction, distance, duration, fingerCount) {
        $.sidr('close', 'sidr-left');
      }
    });

//everything in header goes here
block banner
  #tagline
    h1 Better management for the better manager.
    #subtitle
      h2 FULLY INTEGRATED EMPLOYEE SCHEDULING
        button#scroll GET STARTED
//everything under header goes here
block content
  #sidr-left
      ul
        li.active
          a(href='/') HOME
        li
          a(href='#') FEATURES
        li
          a(href='#') ABOUT
        li
          a.signup SIGN UP
          //a(href='/signup') SIGN UP
  #info
    .row
      #intro.row_element
    .row
      .row_element
      .row_element
    .row
      .row_element
      .row_element
  #footer
      button.signup#signup-button SIGN UP