//parent layout for landing pages
doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/stylelanding.css')
    link(rel='stylesheet', href='/stylesheets/sidrlanding.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/client.js')
    script(src='javascripts/jquery.touchSwipe.js') //script for touch events
    script(src='javascripts/sidr/jquery.sidr.min.js') //scripts for sidr menu
    script.
      $(document).ready(function() {
        $('#menu').sidr({
        name: 'sidr-left',
        side: 'left',
        speed: 100
        });
        // hides the failed login message
        $(".login-fail").hide();
        $('#login').sidr({
        name: 'sidr-right',
        side: 'right',
        body: '#login',
        displace: true,
        speed: 200     
        });
        $(window).resize(function () {
          $.sidr('close', 'sidr-left');
          $.sidr('close', 'sidr-right');
        });
      });

    block head
  body
  //whole screen header
  #header
    //menu and login buttons
    #top
      #menu
        img#menuimage(src='../resources/menudark.png')
        navtext MENU
      #login
        navtext LOGIN
        img#loginimage(src='../resources/logindark.png')
    #banner
      a(href='/')
        img#logo(src='../resources/logocolor.png')
      form#signup-form
        form
          //TODO get rid of username field in parse, extraneous
          input#signup-name(type='text' placeholder='NAME')
          input#signup-email(type='text' placeholder='EMAIL')
          //input#signup-user(type='username' placeholder='USERNAME')
          input#signup-pass(type='password' placeholder='PASSWORD')
          input#signup-button.button(type='button', value='SIGN UP')
      block banner
    block header
  //login form
  form#sidr-right
    form
      input#login-user(type='text' placeholder='USERNAME')
      input#login-pass(type='password' placeholder='PASSWORD')
      input#login-button(type='button', value='LOGIN')
      .login-fail
        Please Try again
  //everything under header
  block content