//parent layout for home pages
doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sidrhome.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/client.js')
    script(src='javascripts/day.js')
    script(src='javascripts/shift.js')
    script(src='javascripts/client_calendar.js')
    //script(src='javascripts/jquery.touchSwipe.js') //script for touch events
    script(src='javascripts/sidr/sidrhome.js') //scripts for sidr menu
    script(src='javascripts/scheduler/dhtmlxscheduler.js')

  block head
  body
    block container