extends home
block head
  script.
      $(document).ready(function() {
        $('#menu').sidr({
        name: 'sidr-left',
        side: 'left',
        body: '#container',
        displace: true,
        resize: true,
        speed: 100
        });
        $('#profile').sidr({
        name: 'sidr-right',
        side: 'right',
        body: '#profile',
        displace: true,
        speed: 200     
        });
        $(window).resize(function () {
          $.sidr('close', 'sidr-left');
          $.sidr('close', 'sidr-right');
        });
      });
block container
  #header
      #menu
        img#menuimage(src='../resources/menulight.png')
        navtext MENU
      #profile
        navtext PROFILE
        img#loginimage(src='../resources/loginlight.png')
      a(href='/')
        img#logo(src='../resources/logosmall.png')
    #sidr-left
        ul
          li.active
            a(href='/account') ACCOUNT
          li
            a(href='/employees') EMPLOYEES
          li
            a(href='/schedule') SCHEDULE

  #container
    #content