extends layoutlanding
block head
  link(rel='stylesheet', href='/stylesheets/signup.css')
block banner
  form#signup-form
    form
      //TODO get rid of username field in parse, extraneous
      input#signup-name(type='text' placeholder='NAME')
      input#signup-email(type='text' placeholder='EMAIL')
      //input#signup-user(type='username' placeholder='USERNAME')
      input#signup-pass(type='password' placeholder='PASSWORD')
      input#signup-button.button(type='button', value='SIGN UP')
block content
  #sidr-left
      ul
        li
          a(href='/') HOME
        li
          a(href='#') FEATURES
        li
          a(href='#') ABOUT
        li.active
          a(href='/signup') SIGN UP