html{
overflow:visible;
}

h2{
font-family: BrandonBlack,sans-serif;
font-weight: normal;
font-size:2em;
color: #424242;
line-height: 90%;
letter-spacing: -0.05em;
}

#error{
color:rgba(207, 21, 21, 1)
}

#correct{
color:rgba(31, 173, 113, 1);
}


#left{
width:30%;
padding-top: 2em;
padding-left: 8em;
padding-bottom:1em;
float:left;
margin-left:5%;
}

#right{
float:left;
width:30%;
padding-top: 2em;
padding-left: 8em;
padding-bottom:1em;
}

#account-settings{
position:absolute;
}

#header{
height:6em;
}

#signup-form0, #signup-form1{

}

#container{
height:auto;
width: calc(100% - 3em);
padding: 0px 1.5em 0.5em;
float: left;
margin-bottom: 1em;
}

#content{
background-color: #FFF;
box-sizing: border-box;
border-radius: 0.3em;
width: 100%;
float: left;
}

#change-button{
height: 2.3em;
padding: 0px 1em;
font-family: BrandonRegular,sans-serif;
font-size: 1.2em;
font-weight: normal;
box-sizing: border-box;
border-radius: 0.3em;
border: medium none;
background-color: #424242;
color: #FFF;
display: block;
clear: both;
cursor: pointer;
width: 10.5em;
margin: 1em 2em 2em auto;
float: right;
}

input{
margin-bottom:2em;
font-family:BrandonRegular, sans-serif;
font-size:1.2em;
font-weight:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-radius:.3em;
-moz-border-radius:.3em;
-ms-border-radius:.3em;
-o-border-radius:.3em;
border-radius:.3em;
}

@media (max-width:880px) {

	#left{
	float: left;
	width: 55%;
	padding-top: 2em;
	padding-bottom: 1em;
	margin-left:5%;
	}

	#signup-form0{

    }

	#right{
	padding-top: 2em;
	padding-bottom: 1em;
	float: left;
	padding-left: 8em;
	width:55%;
	margin-left:5%;
	}

}