#tagline {
width:110%;
margin-left: -5%;
text-align:center;
}

#subtitle {
position:relative;
top:-1em;
left:-50%;
width:200%;
text-align:center;
}

#scroll{ /*get started button*/
position:relative;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
}

.row {
margin: 0 auto;
width:75%;
}

/* This is for the span id=About_Us */ 
span#About_Us {
font-variant: small-caps;
font-weight: normal;
}

/* This style applies to the 4 box (bottom-right) */
#info .row:nth-child(4){
font-weight: bold;
}

.row_element {
float:left;
width:40%;
background:#eee;
height:25em;
margin:5%;
text-align: center;     /* Used for centering About Us */
}


#intro{
width:90%;
}

#signup-form{
position: absolute;
left: 0;
right: 0;
width:20em;
margin:2.5% auto;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-radius:.6em;
-moz-border-radius:.6em;
-ms-border-radius:.6em;
-o-border-radius:.6em;
border-radius:.6em;
}

#signup-name{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-top-left-radius:.3em;
-moz-border-top-left-radius:.3em;
-ms-border-top-left-radius:.3em;
-o-border-top-left-radius:.3em;
border-top-left-radius:.3em;
-webkit-border-top-right-radius:.3em;
-moz-border-top-right-radius:.3em;
-ms-border-top-right-radius:.3em;
-o-border-top-right-radius:.3em;
border-top-right-radius:.3em;
}

#signup-email,#signup-name,#signup-user,#signup-company,#signup-telephone{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

#signup-pass{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-bottom-left-radius:.3em;
-moz-border-bottom-left-radius:.3em;
-ms-border-bottom-left-radius:.3em;
-o-border-bottom-left-radius:.3em;
border-bottom-left-radius:.3em;
-webkit-border-bottom-right-radius:.3em;
-moz-border-bottom-right-radius:.3em;
-ms-border-bottom-right-radius:.3em;
-o-border-bottom-right-radius:.3em;
border-bottom-right-radius:.3em;
}

#signup-button{
width:10em;
margin: 1em auto 2.5em;
}

/* small screens */
@media (max-width:1024px) {
   #signup-form{
   margin-top: 15%;
   }
}

/* mobile */
@media (orientation:portrait) and (max-width:1024px) {
   #signup-form{
   }
}





/* small screens */
@media (max-width:1024px) {
   .row {
   width:100%;
   }

  .row_element {
   width:90%;
   height:25em;
   margin:5% 5% 0% 5%;
   }
}

/* mobile */
@media (orientation:portrait) and (max-width:1024px) {
   #tagline {
   margin-left:-40%;
   width:180%;
   }

   #subtitle {
   position:relative;
   top:1em;
   left:0%;
   width:100%;
   text-align:center;
   }

   #scroll{
   position:relative;
   margin-top: 3em;
   margin-left: auto;
   margin-right: auto;
   }
}
