#menu {
display:none;
}

#login {
display:none;
}

#signup-form {
display:none;
}

#logo {
display:none;
}

#error_message{
background: none repeat scroll 0% 0% #CCC;
padding: 1em;
margin-top: 0px;
color: #D50000;
font-size: 1.2em;
opacity: 0.8;
border-radius: .4em;
text-align: left;
height: auto;
width: 100%;
margin-top:23px;
}

#logo-nolink {
margin-top: 9%;
margin-left: 30%;
margin-right: 30%;
width:40%;
display: inline-block;
}

#input0, #input1{
position: relative;
width:30em;
margin:5% auto;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-radius:.6em;
-moz-border-radius:.6em;
-ms-border-radius:.6em;
-o-border-radius:.6em;
border-radius:.6em;
}


#company{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-top-left-radius:.3em;
-moz-border-top-left-radius:.3em;
-ms-border-top-left-radius:.3em;
-o-border-top-left-radius:.3em;
border-top-left-radius:.3em;
-webkit-border-top-right-radius:.3em;
-moz-border-top-right-radius:.3em;
-ms-border-top-right-radius:.3em;
-o-border-top-right-radius:.3em;
border-top-right-radius:.3em;
}

#signup-name,#signup-user{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

#phone{
margin-bottom:1em;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-bottom-left-radius:.3em;
-moz-border-bottom-left-radius:.3em;
-ms-border-bottom-left-radius:.3em;
-o-border-bottom-left-radius:.3em;
border-bottom-left-radius:.3em;
-webkit-border-bottom-right-radius:.3em;
-moz-border-bottom-right-radius:.3em;
-ms-border-bottom-right-radius:.3em;
-o-border-bottom-right-radius:.3em;
border-bottom-right-radius:.3em;
}

#employee-name {
display:inline;
width:45%;
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-top-left-radius:.3em;
-moz-border-top-left-radius:.3em;
-ms-border-top-left-radius:.3em;
-o-border-top-left-radius:.3em;
border-top-left-radius:.3em;
-webkit-border-bottom-left-radius:.3em;
-moz-border-bottom-left-radius:.3em;
-ms-border-bottom-left-radius:.3em;
-o-border-bottom-left-radius:.3em;
border-bottom-left-radius:.3em;
}

#employee-email {
margin-left:-1px;
display:inline;
width:calc(55% + 1px);
width:-moz-calc(55% + 1px);
width:-webkit-calc(55% + 1px);
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-top-right-radius:.3em;
-moz-border-top-right-radius:.3em;
-ms-border-top-right-radius:.3em;
-o-border-top-right-radius:.3em;
border-top-right-radius:.3em;
-webkit-border-bottom-right-radius:.3em;
-moz-border-bottom-right-radius:.3em;
-ms-border-bottom-right-radius:.3em;
-o-border-bottom-right-radius:.3em;
border-bottom-right-radius:.3em;
}

#add-button{
position:absolute;
bottom:1em;
right:-2.2em;
width:1.5em;
}

#add-button:hover{
  opacity:.9;


}

#next-button{
margin: .75em auto 0;
width:60%;
margin-bottom:100px;
}

/* small screens */
@media (max-width:1024px) {
   #logo-nolink {
   margin-top:15%;
   }
   #input0{
   margin-top: 15%;
   }
}

/* mobile */
@media (orientation:portrait) and (max-width:1024px) {
   #logo-nolink {
   margin-top: 50%;
   margin-left: 0%;
   width:100%;
   display: inline-block;
   }   
   #input0{
   width:140%;
   margin:10% -20%;
   }
   #add-button{ /* TODO fix */
   bottom:5em;
   }
}