#menu {
display:none;
}

#login {
display:none;
}

#logo {
display:none;
}

#dynamic_add{
   /*width:100%*/
   margin:auto;
}

#form_container{
margin: auto;
width: 30em;
position:relative;

}

form{
   width:30em;
   margin:auto;
}

#input1{
-webkit-border-bottom-left-radius:.3em;
-moz-border-bottom-left-radius:.3em;
-ms-border-bottom-left-radius:.3em;
-o-border-bottom-left-radius:.3em;
border-bottom-left-radius:.3em;
-webkit-border-bottom-right-radius:.3em;
-moz-border-bottom-right-radius:.3em;
-ms-border-bottom-right-radius:.3em;
-o-border-bottom-right-radius:.3em;
border-bottom-right-radius:.3em;
}

#error_message{
background: none repeat scroll 0% 0% #CCC;
padding: 1em;
margin-top: 0px;
color: #D50000;
font-size: 1.2em;
opacity: 0.8;
border-radius: .4em;
text-align: left;
height: auto;
margin:auto;
}

#logo-nolink {
margin-top: 9%;
margin-left: 30%;
margin-right: 30%;
width:40%;
display: inline-block;
padding-bottom: 15px;
}

#input0{
position: relative;
width:30em;
margin-top:2em;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-radius:.6em;
-moz-border-radius:.6em;
-ms-border-radius:.6em;
-o-border-radius:.6em;
border-radius:.6em;
}


#company{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-top-left-radius:.3em;
-moz-border-top-left-radius:.3em;
-ms-border-top-left-radius:.3em;
-o-border-top-left-radius:.3em;
border-top-left-radius:.3em;
-webkit-border-top-right-radius:.3em;
-moz-border-top-right-radius:.3em;
-ms-border-top-right-radius:.3em;
-o-border-top-right-radius:.3em;
border-top-right-radius:.3em;
}

#phone{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

#position{
margin-bottom:1em;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-bottom-left-radius:.3em;
-moz-border-bottom-left-radius:.3em;
-ms-border-bottom-left-radius:.3em;
-o-border-bottom-left-radius:.3em;
border-bottom-left-radius:.3em;
-webkit-border-bottom-right-radius:.3em;
-moz-border-bottom-right-radius:.3em;
-ms-border-bottom-right-radius:.3em;
-o-border-bottom-right-radius:.3em;
border-bottom-right-radius:.3em;
}

#employee-name {
display:inline;
width:45%;
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}

#employee-email {
margin-left:-1px;
display:inline;
width:calc(55% + 1px);
width:-moz-calc(55% + 1px);
width:-webkit-calc(55% + 1px);
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}

#employee-name0 {
display:inline;
width:45%;
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;


}

#employee-email0 {
margin-left:-1px;
display:inline;
width:calc(55% + 1px);
width:-moz-calc(55% + 1px);
width:-webkit-calc(55% + 1px);
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}

#add-button{

width: 2.2em;
position: absolute;
bottom:4.4em;
right: -3em;
}

#add-button:hover{
  opacity:.9;


}

#next-button{
margin: .75em auto 0;
width:50%;
margin-bottom:100px;
}

/* small screens */
@media (max-width:1024px) {
   #logo-nolink {
   margin-top:15%;
   }

}

/* mobile */
@media (orientation:portrait) and (max-width:1024px) {
   #logo-nolink {
   margin-top: 50%;
   margin-left: 0%;
   width:100%;
   display: inline-block;
   }   

   #add-button{ /* TODO fix */
   bottom:5em;
   }

   #form_container, form{
   margin: auto;
   width: 100%;
   height:auto;

   }

   #input0{
      margin-top:2em;
      width:100%;
   }

   #next-button{
   margin: .75em auto 0;
   width:75%;
   margin-bottom:100px;
   }


  
}